html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing:border-box;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="checkbox"], input[type="radio"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

table {
    border-collapse: collapse;
}

td {
    vertical-align: middle;
    padding-right: 5px;
}
